@media (min-width: 1536px) {
    .x .c1-g {
        font-size: 18px;
    }
}

@media (min-width: 1536px) {
    .x .c1-1o {
        font-size: 16px;
    }
}

@media (min-width: 1536px) {
    .x .c1-5g {
        font-size: 36px;
    }
}

@media (min-width: 1536px) {
    .x .c1-5m {
        width: 1280px;
    }
}

@media (min-width: 1536px) {
    .x .c1-61 {
        font-size: 24px;
    }
}

@media (min-width: 1536px) {
    .x .c1-7d {
        font-size: 48px;
    }
}

@media (min-width: 1536px) {
    .x .c1-7w {
        font-size: 42px;
    }
}

@media (min-width: 1536px) {
    .x .c1-cr {
        font-size: 20px;
    }
}

@media (min-width: 1536px) {
    .x .c1-cz {
        font-size: 23px;
    }
}

@media (min-width: 1536px) {
    .x .c1-g6 {
        font-size: 14px;
    }
}