@media (min-width: 1024px) {
    .x .c1-e {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .x .c1-o {
        display: block;
    }
}

@media (min-width: 1024px) {
    .x .c1-v {
        padding-top: 16px;
    }
}

@media (min-width: 1024px) {
    .x .c1-w {
        padding-bottom: 16px;
    }
}

@media (min-width: 1024px) {
    .x .c1-x {
        padding-left: 16px;
    }
}

@media (min-width: 1024px) {
    .x .c1-y {
        padding-right: 16px;
    }
}

@media (min-width: 1024px) {
    .x .c1-17 {
        display: none;
    }
}

@media (min-width: 1024px) {
    .x .c1-1m {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .x .c1-29 {
        display: inline-block;
    }
}

@media (min-width: 1024px) {
    .x .c1-2y {
        height: 102px;
    }
}

@media (min-width: 1024px) {
    .x .c1-2z {
        width: auto;
    }
}

@media (min-width: 1024px) {
    .x .c1-30 {
        max-height: 102px;
    }
}

@media (min-width: 1024px) {
    .x .c1-3b {
        display: flex;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-4o {
        right: 0px;
    }
}

@media (min-width: 1024px) {
    .x .c1-5e {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .x .c1-5k {
        width: 984px;
    }
}

@media (min-width: 1024px) {
    .x .c1-5y {
        min-width: 300px;
    }
}

@media (min-width: 1024px) {
    .x .c1-5z {
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .x .c1-66 {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .x .c1-6b {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .x .c1-6k {
        min-height: inherit;
    }
}

@media (min-width: 1024px) {
    .x .c1-6l {
        flex-grow: 1;
    }
}

@media (min-width: 1024px) {
    .x .c1-6m {
        padding-top: 0px;
    }
}

@media (min-width: 1024px) {
    .x .c1-6q {
        margin-left: 16.666666666666664%;
    }
}

@media (min-width: 1024px) {
    .x .c1-6r {
        flex-basis: 66.66666666666666%;
    }
}

@media (min-width: 1024px) {
    .x .c1-6s {
        max-width: 66.66666666666666%;
    }
}

@media (min-width: 1024px) {
    .x .c1-6x {
        padding-top: 72px;
    }
}

@media (min-width: 1024px) {
    .x .c1-6y {
        padding-bottom: 72px;
    }
}

@media (min-width: 1024px) {
    .x .c1-6z {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .x .c1-7b {
        font-size: 38px;
    }
}

@media (min-width: 1024px) {
    .x .c1-7u {
        font-size: 33px;
    }
}

@media (min-width: 1024px) {
    .x .c1-9s {
        max-height: 400px;
    }
}

@media (min-width: 1024px) {
    .x .c1-a2 {
        height: 300px;
    }
}

@media (min-width: 1024px) {
    .x .c1-a3:hover .dim {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

@media (min-width: 1024px) {
    .x .c1-a4:hover .image {
        transform: scale(1.05);
    }
}

@media (min-width: 1024px) {
    .x .c1-a5 {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 1024px) {
    .x .c1-a6 {
        transition: background-color 0.5s ease;
    }
}

@media (min-width: 1024px) {
    .x .c1-a7 {
        z-index: 1;
    }
}

@media (min-width: 1024px) {
    .x .c1-ca {
        flex-basis: 33.33333333333333%;
    }
}

@media (min-width: 1024px) {
    .x .c1-cb {
        max-width: 33.33333333333333%;
    }
}

@media (min-width: 1024px) {
    .x .c1-cf {
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .x .c1-cp {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .x .c1-cx {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .x .c1-dr {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .x .c1-ey {
        flex-basis: 0%;
    }
}

@media (min-width: 1024px) {
    .x .c1-ez {
        max-width: none;
    }
}

@media (min-width: 1024px) {
    .x .c1-f0 {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .x .c1-f1 {
        text-align: right;
    }
}

@media (min-width: 1024px) {
    .x .c1-f8 {
        z-index: 9999;
    }
}

@media (min-width: 1024px) {
    .x .c1-g4 {
        font-size: 12px;
    }
}