@media (max-width: 450px) {
    .x .c1-ae {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:450,m");
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 450px) and (min-resolution: 192dpi) {
    .x .c1-af {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:900,m");
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
(max-width: 450px) and (min-resolution: 288dpi) {
    .x .c1-ag {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1350,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) {
    .x .c1-ah {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:767,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .x .c1-ai {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1534,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
    .x .c1-aj {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2301,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-ak {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1023,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
    .x .c1-al {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2046,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
    .x .c1-am {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3069,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-an {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1279,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .x .c1-ao {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2558,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
    .x .c1-ap {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3837,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .x .c1-aq {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1535,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
    .x .c1-ar {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3070,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
    .x .c1-as {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:4605,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) {
    .x .c1-at {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1920,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
    .x .c1-au {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3840,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
    .x .c1-av {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:5760,m");
    }
}

@media (min-width: 1921px) {
    .x .c1-aw {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1921px) and (min-resolution: 192dpi) {
    .x .c1-ax {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1921px) and (min-resolution: 288dpi) {
    .x .c1-ay {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.28%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (max-width: 450px) {
    .x .c1-b0 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:450,m");
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 450px) and (min-resolution: 192dpi) {
    .x .c1-b1 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:900,m");
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
(max-width: 450px) and (min-resolution: 288dpi) {
    .x .c1-b2 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1350,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) {
    .x .c1-b3 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:767,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .x .c1-b4 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1534,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
    .x .c1-b5 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2301,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-b6 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1023,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
    .x .c1-b7 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2046,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
    .x .c1-b8 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3069,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-b9 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1279,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .x .c1-ba {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2558,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
    .x .c1-bb {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3837,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .x .c1-bc {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1535,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
    .x .c1-bd {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3070,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
    .x .c1-be {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:4605,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) {
    .x .c1-bf {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1920,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
    .x .c1-bg {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3840,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
    .x .c1-bh {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:5760,m");
    }
}

@media (min-width: 1921px) {
    .x .c1-bi {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1921px) and (min-resolution: 192dpi) {
    .x .c1-bj {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1921px) and (min-resolution: 288dpi) {
    .x .c1-bk {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM.jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (max-width: 450px) {
    .x .c1-bl {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:450,m");
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 450px) and (min-resolution: 192dpi) {
    .x .c1-bm {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:900,m");
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
(max-width: 450px) and (min-resolution: 288dpi) {
    .x .c1-bn {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1350,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) {
    .x .c1-bo {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:767,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .x .c1-bp {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1534,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
    .x .c1-bq {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2301,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-br {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1023,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
    .x .c1-bs {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2046,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
    .x .c1-bt {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3069,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-bu {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1279,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .x .c1-bv {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2558,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
    .x .c1-bw {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3837,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .x .c1-bx {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1535,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
    .x .c1-by {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3070,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
    .x .c1-bz {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:4605,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) {
    .x .c1-c0 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1920,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
    .x .c1-c1 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3840,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
    .x .c1-c2 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:5760,m");
    }
}

@media (min-width: 1921px) {
    .x .c1-c3 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1921px) and (min-resolution: 192dpi) {
    .x .c1-c4 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1921px) and (min-resolution: 288dpi) {
    .x .c1-c5 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/WhatsApp%20Image%202024-05-23%20at%2012.40.29%20AM%20(1).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (max-width: 450px) {
    .x .c1-d5 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:450,m");
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 450px) and (min-resolution: 192dpi) {
    .x .c1-d6 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:900,m");
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
(max-width: 450px) and (min-resolution: 288dpi) {
    .x .c1-d7 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1350,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) {
    .x .c1-d8 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:767,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .x .c1-d9 {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1534,m");
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
    .x .c1-da {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2301,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-db {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1023,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
    .x .c1-dc {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2046,m");
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
    .x .c1-dd {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3069,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-de {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1279,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .x .c1-df {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:2558,m");
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
    .x .c1-dg {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3837,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .x .c1-dh {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1535,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
    .x .c1-di {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3070,m");
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
    .x .c1-dj {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:4605,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) {
    .x .c1-dk {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1920,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
    .x .c1-dl {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:3840,m");
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
    .x .c1-dm {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:5760,m");
    }
}

@media (min-width: 1921px) {
    .x .c1-dn {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1921px) and (min-resolution: 192dpi) {
    .x .c1-do {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1921px) and (min-resolution: 288dpi) {
    .x .c1-dp {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%),
            url("//img1.wsimg.com/isteam/ip/f806f36e-3ded-4458-8da8-401b888137e3/gelece%20i%C5%9Fleyen%20miras%20kapak.pdf%20(1).jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:100%25");
    }
}