.x .c1-1 {
    letter-spacing: normal
}

.x .c1-2 {
    text-transform: none
}

.x .c1-3 {
    background-color: rgb(255, 255, 255)
}

.x .c1-4 {
    width: 100%
}

.x .c1-5>div {
    position: relative
}

.x .c1-6>div {
    overflow: hidden
}

.x .c1-7>div {
    margin-top: auto
}

.x .c1-8>div {
    margin-right: auto
}

.x .c1-9>div {
    margin-bottom: auto
}

.x .c1-a>div {
    margin-left: auto
}

.x .c1-b {
    font-family: 'Josefin Sans', Arial, sans-serif
}

.x .c1-c {
    font-size: 16px
}

.x .c1-h {
    background-color: rgb(226, 232, 235)
}

.x .c1-i {
    padding-top: 56px
}

.x .c1-j {
    padding-bottom: 56px
}

.x .c1-k {
    padding: 0px !important
}

.x .c1-n {
    display: none
}

.x .c1-p {
    position: relative
}

.x .c1-q {
    padding-top: 8px
}

.x .c1-r {
    padding-bottom: 8px
}

.x .c1-s {
    padding-left: 24px
}

.x .c1-t {
    padding-right: 24px
}

.x .c1-u {
    z-index: auto
}

.x .c1-z {
    align-items: center
}

.x .c1-10 {
    flex-wrap: nowrap
}

.x .c1-11 {
    display: flex
}

.x .c1-12 {
    margin-top: 0px
}

.x .c1-13 {
    margin-right: 0px
}

.x .c1-14 {
    margin-bottom: 0px
}

.x .c1-15 {
    margin-left: 0px
}

.x .c1-16 {
    [object -object]: 0px
}

.x .c1-18 {
    width: 70%
}

.x .c1-19 {
    text-align: left
}

.x .c1-1a {
    justify-content: flex-start
}

.x .c1-1b {
    overflow-wrap: break-word
}

.x .c1-1c {
    padding-left: 8px
}

.x .c1-1d {
    padding-right: 8px
}

.x .c1-1e {
    letter-spacing: 4px
}

.x .c1-1f {
    display: inline-block
}

.x .c1-1g {
    font-family: 'Righteous', serif, system-ui
}

.x .c1-1h {
    font-size: 14px
}

.x .c1-1p {
    letter-spacing: inherit
}

.x .c1-1q {
    text-transform: inherit
}

.x .c1-1r {
    text-decoration: none
}

.x .c1-1s {
    word-wrap: break-word
}

.x .c1-1t {
    display: inline
}

.x .c1-1u {
    cursor: pointer
}

.x .c1-1v {
    border-top: 0px
}

.x .c1-1w {
    border-right: 0px
}

.x .c1-1x {
    border-bottom: 0px
}

.x .c1-1y {
    border-left: 0px
}

.x .c1-1z {
    max-width: 100%
}

.x .c1-20 {
    width: auto
}

.x .c1-21 {
    color: rgb(110, 120, 125)
}

.x .c1-22 {
    font-weight: inherit
}

.x .c1-23:hover {
    color: rgb(65, 72, 75)
}

.x .c1-24:active {
    color: rgb(44, 49, 51)
}

.x .c1-25 {
    padding-top: 0px
}

.x .c1-26 {
    padding-right: 0px
}

.x .c1-27 {
    padding-bottom: 0px
}

.x .c1-28 {
    padding-left: 0px
}

.x .c1-2a {
    margin-left: auto
}

.x .c1-2b {
    margin-right: auto
}

.x .c1-2c {
    vertical-align: middle
}

.x .c1-2d {
    aspect-ratio: 0.9090909090909091 / 1
}

.x .c1-2e {
    object-fit: contain
}

.x .c1-2f {
    height: 80px
}

.x .c1-2g {
    background-color: transparent
}

.x .c1-2h {
    transition: max-height .5s
}

.x .c1-2i {
    border-radius: 0px
}

.x .c1-31 {
    width: 30%
}

.x .c1-32 {
    justify-content: flex-end
}

.x .c1-33 {
    color: rgb(27, 27, 27)
}

.x .c1-34:hover {
    color: rgb(110, 120, 125)
}

.x .c1-35 {
    color: inherit
}

.x .c1-36 {
    vertical-align: top
}

.x .c1-37 {
    padding-top: 6px
}

.x .c1-38 {
    padding-right: 6px
}

.x .c1-39 {
    padding-bottom: 6px
}

.x .c1-3a {
    padding-left: 6px
}

.x .c1-3c {
    width: 35%
}

.x .c1-3d {
    min-width: 35%
}

.x .c1-3e {
    flex-shrink: 0
}

.x .c1-3j {
    min-width: 65%
}

.x .c1-3k {
    flex-basis: auto
}

.x .c1-3l {
    padding-top: 5px
}

.x .c1-3m {
    line-height: 24px
}

.x .c1-3n {
    -webkit-margin-before: 0
}

.x .c1-3o {
    -webkit-margin-after: 0
}

.x .c1-3p {
    -webkit-padding-start: 0
}

.x .c1-3q {
    color: rgb(94, 94, 94)
}

.x .c1-3r {
    margin-bottom: none
}

.x .c1-3s {
    list-style: none
}

.x .c1-3t {
    padding-left: 32px
}

.x .c1-3u {
    white-space: nowrap
}

.x .c1-3v {
    visibility: hidden
}

.x .c1-3w:first-child {
    margin-left: 0
}

.x .c1-3x:first-child {
    padding-left: 0
}

.x .c1-3y {
    letter-spacing: 0.063em
}

.x .c1-3z {
    text-transform: uppercase
}

.x .c1-40 {
    display: block
}

.x .c1-41 {
    margin-bottom: -1px
}

.x .c1-42 {
    font-weight: 600
}

.x .c1-43 {
    border-bottom: 1px solid
}

.x .c1-44 {
    border-color: rgb(134, 147, 153)
}

.x .c1-45:active {
    color: rgb(110, 120, 125)
}

.x .c1-46 {
    margin-left: -6px
}

.x .c1-47 {
    margin-right: -6px
}

.x .c1-48 {
    margin-top: -6px
}

.x .c1-49 {
    margin-bottom: -6px
}

.x .c1-4a {
    transition: transform .33s ease-in-out
}

.x .c1-4b {
    transform: rotate(0deg)
}

.x .c1-4c {
    border-radius: 4px
}

.x .c1-4d {
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.24)
}

.x .c1-4e {
    padding-top: 16px
}

.x .c1-4f {
    padding-bottom: 16px
}

.x .c1-4g {
    padding-left: 16px
}

.x .c1-4h {
    padding-right: 16px
}

.x .c1-4i {
    position: absolute
}

.x .c1-4j {
    right: 0px
}

.x .c1-4k {
    top: 32px
}

.x .c1-4l {
    max-height: 45vh
}

.x .c1-4m {
    overflow-y: auto
}

.x .c1-4n {
    z-index: 1003
}

.x .c1-4q:last-child {
    margin-bottom: 0
}

.x .c1-4r {
    margin-bottom: 8px
}

.x .c1-4s {
    margin-top: 8px
}

.x .c1-4t {
    line-height: 1.5
}

.x .c1-4u {
    background-color: rgb(22, 22, 22)
}

.x .c1-4v {
    position: fixed
}

.x .c1-4w {
    top: 0px
}

.x .c1-4x {
    height: 100%
}

.x .c1-4y {
    z-index: 10002
}

.x .c1-4z {
    -webkit-overflow-scrolling: touch
}

.x .c1-50 {
    transform: translateX(-249vw)
}

.x .c1-51 {
    overscroll-behavior: contain
}

.x .c1-52 {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2)
}

.x .c1-53 {
    transition: transform .3s ease-in-out
}

.x .c1-54 {
    overflow: hidden
}

.x .c1-55 {
    flex-direction: column
}

.x .c1-56 {
    color: rgb(247, 247, 247)
}

.x .c1-57 {
    line-height: 1.3em
}

.x .c1-58 {
    font-style: normal
}

.x .c1-59 {
    top: 15px
}

.x .c1-5a {
    right: 15px
}

.x .c1-5b {
    font-size: 28px
}

.x .c1-5c:hover {
    color: rgb(226, 232, 235)
}

.x .c1-5h {
    overflow-x: hidden
}

.x .c1-5i {
    overscroll-behavior: none
}

.x .c1-5n {
    color: rgb(164, 164, 164)
}

.x .c1-5o {
    border-color: rgba(76, 76, 76, 0.5)
}

.x .c1-5p {
    border-bottom-width: 1px
}

.x .c1-5q {
    border-bottom-style: solid
}

.x .c1-5r:last-child {
    border-bottom: 0
}

.x .c1-5s {
    min-width: 200px
}

.x .c1-5t {
    justify-content: space-between
}

.x .c1-5u {
    font-size: 22px
}

.x .c1-5v:hover {
    color: rgb(163, 178, 185)
}

.x .c1-5w:active {
    color: rgb(226, 232, 235)
}

.x .c1-62 {
    font-weight: 400
}

.x .c1-63 {
    min-height: 350px
}

.x .c1-67 {
    align-self: stretch
}

.x .c1-68 {
    flex-grow: 1
}

.x .c1-69 {
    align-items: stretch
}

.x .c1-6a {
    justify-content: stretch
}

.x .c1-6c {
    justify-content: center
}

.x .c1-6d {
    text-align: center
}

.x .c1-6e {
    border-width: 0 !important
}

.x .c1-6f {
    aspect-ratio: 1.4064697609001406 / 1
}

.x .c1-6h {
    box-sizing: border-box
}

.x .c1-6i {
    flex-direction: row
}

.x .c1-6j {
    flex-wrap: wrap
}

.x .c1-6n {
    flex-shrink: 1
}

.x .c1-6o {
    flex-basis: 100%
}

.x .c1-6p alignItems {
    align-items: center
}

.x .c1-6t {
    padding-top: 32px
}

.x .c1-6u {
    padding-bottom: 32px
}

.x .c1-6v> :nth-child(n) {
    margin-bottom: 8px
}

.x .c1-6w> :last-child {
    margin-bottom: 0 !important
}

.x .c1-70 {
    width: inherit
}

.x .c1-71 {
    line-height: 1.2
}

.x .c1-72 {
    line-height: 1.25
}

.x .c1-73 {
    white-space: pre-line
}

.x .c1-74 {
    color: rgb(22, 22, 22)
}

.x .c1-75 {
    word-wrap: normal !important
}

.x .c1-76 {
    overflow-wrap: normal !important
}

.x .c1-77 {
    overflow: visible
}

.x .c1-78 {
    left: 0px
}

.x .c1-79 {
    font-size: 32px
}

.x .c1-7e {
    margin-top: 24px
}

.x .c1-7f {
    column-gap: 24px
}

.x .c1-7g {
    row-gap: 24px
}

.x .c1-7h {
    border-style: none
}

.x .c1-7i {
    display: inline-flex
}

.x .c1-7j {
    padding-right: 32px
}

.x .c1-7k {
    min-height: 56px
}

.x .c1-7l {
    color: rgb(255, 255, 255)
}

.x .c1-7m {
    background-color: rgb(0, 0, 0)
}

.x .c1-7n {
    text-shadow: none
}

.x .c1-7o:hover {
    background-color: rgb(21, 21, 21)
}

.x .c1-7q {
    line-height: 1.4
}

.x .c1-7r {
    margin-bottom: 40px
}

.x .c1-7s {
    color: rgb(136, 151, 158)
}

.x .c1-7x {
    font-size: unset
}

.x .c1-7y {
    font-family: unset
}

.x .c1-7z {
    letter-spacing: unset
}

.x .c1-80 {
    text-transform: unset
}

.x .c1-83 {
    margin-right: -12px
}

.x .c1-84 {
    margin-bottom: -24px
}

.x .c1-85 {
    margin-left: -12px
}

.x .c1-8a {
    padding-right: 12px
}

.x .c1-8b {
    padding-bottom: 24px
}

.x .c1-8c {
    padding-left: 12px
}

.x .c1-8j {
    align-items: flex-start
}

.x .c1-8k>* {
    max-width: 100%
}

.x .c1-8l> :nth-child(n) {
    margin-bottom: 24px
}

.x .c1-8m {
    aspect-ratio: 2 / 1
}

.x .c1-8p>p>ol {
    text-align: left
}

.x .c1-8q>p>ol {
    display: block
}

.x .c1-8r>p>ol {
    padding-left: 1.3em
}

.x .c1-8s>p>ol {
    margin-left: 16px
}

.x .c1-8t>p>ol {
    margin-right: 16px
}

.x .c1-8u>p>ol {
    margin-top: auto
}

.x .c1-8v>p>ol {
    margin-bottom: auto
}

.x .c1-8w>p>ul {
    text-align: left
}

.x .c1-8x>p>ul {
    display: block
}

.x .c1-8y>p>ul {
    padding-left: 1.3em
}

.x .c1-8z>p>ul {
    margin-left: 16px
}

.x .c1-90>p>ul {
    margin-right: 16px
}

.x .c1-91>p>ul {
    margin-top: auto
}

.x .c1-92>p>ul {
    margin-bottom: auto
}

.x .c1-93>ul {
    text-align: left
}

.x .c1-94>ul {
    display: block
}

.x .c1-95>ul {
    padding-left: 1.3em
}

.x .c1-96>ul {
    margin-left: 16px
}

.x .c1-97>ul {
    margin-right: 16px
}

.x .c1-98>ul {
    margin-top: auto
}

.x .c1-99>ul {
    margin-bottom: auto
}

.x .c1-9a>ol {
    text-align: left
}

.x .c1-9b>ol {
    display: block
}

.x .c1-9c>ol {
    padding-left: 1.3em
}

.x .c1-9d>ol {
    margin-left: 16px
}

.x .c1-9e>ol {
    margin-right: 16px
}

.x .c1-9f>ol {
    margin-top: auto
}

.x .c1-9g>ol {
    margin-bottom: auto
}

.x .c1-9h {
    font-size: inherit !important
}

.x .c1-9i {
    line-height: inherit
}

.x .c1-9j {
    font-style: italic
}

.x .c1-9k {
    text-decoration: line-through
}

.x .c1-9l {
    text-decoration: underline
}

.x .c1-9m {
    background-color: rgb(246, 246, 246)
}

.x .c1-9n {
    color: rgb(132, 144, 150)
}

.x .c1-9o {
    color: rgb(87, 87, 87)
}

.x .c1-9t {
    padding-bottom: 56.25%
}

.x .c1-9u {
    pointer-events: auto
}

.x .c1-9y {
    flex-basis: 33.33333333333333%
}

.x .c1-9z {
    max-width: 33.33333333333333%
}

.x .c1-a0 {
    height: 130px
}

.x .c1-a8 {
    transition: transform .5s ease
}

.x .c1-a9 {
    text-shadow: 0px 2px 30px rgba(0, 0, 0, 0.12)
}

.x .c1-aa {
    background-position: 50% 50%
}

.x .c1-ab {
    background-size: auto, cover
}

.x .c1-ac {
    background-blend-mode: normal
}

.x .c1-ad {
    background-repeat: no-repeat
}

.x .c1-az {
    background-position: 59.50718976449275% 28.782614003057066%
}

.x .c1-cc {
    margin-bottom: 32px
}

.x .c1-cd {
    aspect-ratio: 1.3726541554959786 / 1
}

.x .c1-cg {
    aspect-ratio: 2.3550561797752807 / 1
}

.x .c1-ci {
    aspect-ratio: 1.308029197080292 / 1
}

.x .c1-ck {
    aspect-ratio: 1.7022653721682848 / 1
}

.x .c1-cm> :nth-child(n) {
    margin-bottom: 32px
}

.x .c1-cn {
    font-size: 18px
}

.x .c1-cs {
    aspect-ratio: 1.33 / 1
}

.x .c1-cu {
    color: rgb(72, 75, 76)
}

.x .c1-cv {
    font-size: 20px
}

.x .c1-d0 {
    aspect-ratio: 1 / 1
}

.x .c1-d2 {
    aspect-ratio: 1.3593882752761257 / 1
}

.x .c1-d4 {
    background-size: cover
}

.x .c1-dq {
    margin-top: -4px
}

.x .c1-ds {
    flex-basis: 0%
}

.x .c1-du {
    margin-bottom: 16px
}

.x .c1-dw {
    margin-bottom: 24px
}

.x .c1-e1 {
    background-color: rgba(22, 22, 22, 0.5)
}

.x .c1-e2 {
    border-color: rgb(255, 255, 255)
}

.x .c1-e3 {
    border-top-width: 0px
}

.x .c1-e4 {
    border-right-width: 0px
}

.x .c1-e5 {
    border-bottom-width: 4px
}

.x .c1-e6 {
    border-left-width: 0px
}

.x .c1-e7 {
    padding-top: 23px
}

.x .c1-e8 {
    padding-bottom: 7px
}

.x .c1-e9 {
    border-style: solid
}

.x .c1-ea::placeholder {
    color: inherit
}

.x .c1-eb:focus {
    outline: none
}

.x .c1-ec:focus {
    box-shadow: inset 0 0 0 1px currentColor
}

.x .c1-ed:focus+label {
    font-size: 12px
}

.x .c1-ee:focus+label {
    top: 8px
}

.x .c1-ef:focus+label {
    color: rgb(255, 255, 255)
}

.x .c1-eg:not([value=""])+label {
    font-size: 12px
}

.x .c1-eh:not([value=""])+label {
    top: 8px
}

.x .c1-ei:not([value=""])+label {
    color: rgb(255, 255, 255)
}

.x .c1-ej::-webkit-input-placeholder {
    color: inherit
}

.x .c1-el {
    top: 30%
}

.x .c1-em {
    left: 15px
}

.x .c1-en {
    transition: all .15s ease
}

.x .c1-eo {
    pointer-events: none
}

.x .c1-ep {
    color: rgb(0, 0, 0)
}

.x .c1-eq:hover {
    background-color: rgb(255, 255, 255)
}

.x .c1-et {
    margin-top: 0px
}

.x .c1-eu {
    padding-bottom: 40px
}

.x .c1-ev {
    list-style-type: none
}

.x .c1-f2 {
    color: rgb(226, 232, 235)
}

.x .c1-f3 {
    right: 24px
}

.x .c1-f4 {
    bottom: 24px
}

.x .c1-f5 {
    z-index: 9999
}

.x .c1-f6 {
    width: 65px
}

.x .c1-f7 {
    height: 65px
}

.x .c1-f9 {
    border-radius: 50%
}

.x .c1-fa {
    background-color: rgb(220, 228, 231)
}

.x .c1-fb {
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.25)
}

.x .c1-fc {
    transform: translateZ(0)
}

.x .c1-fd {
    color: rgb(27, 28, 28)
}

.x .c1-fe {
    right: 0px
}

.x .c1-ff {
    z-index: 10000
}

.x .c1-fg {
    height: auto
}

.x .c1-fh {
    transition: all 1s ease-in
}

.x .c1-fi {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3)
}

.x .c1-fj {
    contain: content
}

.x .c1-fk {
    bottom: -500px
}

.x .c1-fl {
    padding-top: 24px
}

.x .c1-fs {
    color: rgb(6, 6, 6)
}

.x .c1-ft {
    max-height: 300px
}

.x .c1-fv {
    margin-bottom: 4px
}

.x .c1-fw {
    word-break: break-word
}

.x .c1-fx {
    flex-basis: 50%
}

.x .c1-fy {
    padding-top: 4px
}

.x .c1-fz {
    padding-bottom: 4px
}

.x .c1-g0 {
    min-height: 40px
}

.x .c1-g1 {
    font-size: 12px
}

.x .c1-g2:nth-child(2) {
    margin-left: 24px
}
