@media (max-width: 767px) {
    .x .c1-l {
        padding-top: 40px;
    }
}

@media (max-width: 767px) {
    .x .c1-m {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .x .c1-1i {
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .x .c1-1j {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .x .c1-2j {
        height: 102px;
    }
}

@media (max-width: 767px) {
    .x .c1-2k {
        max-width: 224px;
    }
}

@media (max-width: 767px) {
    .x .c1-2l {
        display: block;
    }
}

@media (max-width: 767px) {
    .x .c1-2m {
        max-height: 80px;
    }
}

@media (max-width: 767px) {
    .x .c1-2n {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .x .c1-2o {
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .x .c1-2p {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .x .c1-2q {
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .x .c1-2r {
        width: auto;
    }
}

@media (max-width: 767px) {
    .x .c1-3f {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .x .c1-3g {
        display: flex;
    }
}

@media (max-width: 767px) {
    .x .c1-3h {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .x .c1-64 {
        min-height: auto;
    }
}

@media (max-width: 767px) {
    .x .c1-65 {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .x .c1-6g {
        height: calc((100vw - 0px) / 1.4064697609001406);
    }
}

@media (max-width: 767px) {
    .x .c1-81> :nth-child(n) {
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .x .c1-82> :last-child {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 767px) {
    .x .c1-8n {
        height: calc((100vw - 48px) / 2);
    }
}

@media (max-width: 767px) {
    .x .c1-9p {
        margin-bottom: 24px;
    }
}

@media (max-width: 767px) {
    .x .c1-9w {
        padding-top: 0px;
    }
}

@media (max-width: 767px) {
    .x .c1-9x {
        padding-bottom: 0px;
    }
}

@media (max-width: 767px) {
    .x .c1-ce {
        height: calc((100vw - 48px) / 1.3726541554959786);
    }
}

@media (max-width: 767px) {
    .x .c1-ch {
        height: calc((100vw - 48px) / 2.3550561797752807);
    }
}

@media (max-width: 767px) {
    .x .c1-cj {
        height: calc((100vw - 48px) / 1.308029197080292);
    }
}

@media (max-width: 767px) {
    .x .c1-cl {
        height: calc((100vw - 48px) / 1.7022653721682848);
    }
}

@media (max-width: 767px) {
    .x .c1-ct {
        height: calc((100vw - 48px) / 1.33);
    }
}

@media (max-width: 767px) {
    .x .c1-d1 {
        height: calc((100vw - 48px) / 1);
    }
}

@media (max-width: 767px) {
    .x .c1-d3 {
        height: calc((100vw - 48px) / 1.3593882752761257);
    }
}

@media (max-width: 767px) {
    .x .c1-ek {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .x .c1-es {
        padding-bottom: 32px;
    }
}

@media (max-width: 767px) {
    .x .c1-ew {
        padding-top: 4px;
    }
}

@media (max-width: 767px) {
    .x .c1-ex {
        padding-bottom: 4px;
    }
}