@media (min-width: 1280px) {
    .x .c1-f {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    .x .c1-1n {
        font-size: 14px;
    }
}

@media (min-width: 1280px) {
    .x .c1-5f {
        font-size: 32px;
    }
}

@media (min-width: 1280px) {
    .x .c1-5l {
        width: 1160px;
    }
}

@media (min-width: 1280px) {
    .x .c1-60 {
        font-size: 22px;
    }
}

@media (min-width: 1280px) {
    .x .c1-7c {
        font-size: 44px;
    }
}

@media (min-width: 1280px) {
    .x .c1-7v {
        font-size: 39px;
    }
}

@media (min-width: 1280px) {
    .x .c1-cq {
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .x .c1-cy {
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    .x .c1-g5 {
        font-size: 12px;
    }
}